{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav, main, footer {
            font-family: 'Courier Prime';
            color: black;
        }
        #view div { margin-bottom: 5px; }
        #view label {
            width: 110px;
            text-align: right;
            font-weight: bold;
            margin-right: 15%;
        }

        #cnts {
            display: inline-block;
            width: 460px;
            height: 450px;
            margin-left: 140px;
        }
        #view > div:last-child { text-align: right; margin-right: 1px; }
        .product-description {
            margin-top: 20px;
        }
        .shipping-returns {
            margin-top: 40px;

            padding-top: 20px;
        }
        .shipping-returns h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .shipping-returns p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
    </style>
{% endblock%}
{% block main %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Product</h2>
                    <span id="cnts"><img src="http://localhost/cdn/{{ ga.fname }}" class="img-fluid"><br></span>
                </div>
                <div class="col-md-6">
                    <!-- 상품 설명 -->
                    <div class="product-description">
                        <h2>Description</h2>
                        <p>{{ g.contents }}</p>
                    </div>
                    <!-- 상품 사이즈 표 -->
                    <div class="product-size">
                        <h2>Size</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Size</th>
                                <th>Neck</th>
                                <th>Shoulder</th>
                                <th>Chest</th>
                                <th>Length</th>
                                <th>Sleeve</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>XS</td>
                                <td>13.5"</td>
                                <td>17"</td>
                                <td>38"</td>
                                <td>29"</td>
                                <td>32"</td>
                            </tr>
                            <tr>
                                <td>S</td>
                                <td>14.5"</td>
                                <td>18"</td>
                                <td>41"</td>
                                <td>30"</td>
                                <td>33"</td>
                            </tr>
                            <tr>
                                <td>M</td>
                                <td>15.5"</td>
                                <td>19"</td>
                                <td>44"</td>
                                <td>31"</td>
                                <td>34"</td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>16.5"</td>
                                <td>20"</td>
                                <td>47"</td>
                                <td>32"</td>
                                <td>35"</td>
                            </tr>
                            <tr>
                                <td>XL</td>
                                <td>17.5"</td>
                                <td>21"</td>
                                <td>50"</td>
                                <td>33"</td>
                                <td>36"</td>
                            </tr>
                            <tr>
                                <td>XXL</td>
                                <td>18.5"</td>
                                <td>22"</td>
                                <td>54"</td>
                                <td>33.5"</td>
                                <td>36"</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="shipping-returns">
                        <h2>SHIPPING & RETURNS</h2>
                        <p>We offer free shipping for all orders within the USA and international orders over $300. International orders under $300 are shipped at a flat rate of $30. Returns and exchanges will be gladly accepted within our policy guidelines. To view our full returns and exchanges policy, please visit our FAQ page.</p>
                        <p>International customers will be responsible for all import customs clearance, duties, and taxes upon delivery.</p>
                        <p>For more information, please visit our FAQ.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
