{% extends 'base.html' %}
{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    nav,main,footer {
        font-family: 'Courier Prime';
        color:black;
    }
</style>
{% endblock%}
{% block main %}

<main>
    <div style="float: left; width: 50%;">
        <h1>Gift Card</h1>
        <div id="lb">
    <p>Shopping for someone else but not sure</p><br>
    <p>what to give them? Give them the gift of </p><br>
    <p>choice with a Gitman Vintage gift card. </p><br><br><br>
    <p>Our gift cards are delivered by email, </p><br>
    <p>which you can then print or forward </p><br>
    <p>directly to the recipient. They never </p><br>
    <p>expire and can be used over multiple </p><br>
    <p>purchases. For more information, read</p><br>
            <p>our <a href="faq">Gift Card FAQ.</a></p><br>
        </div>
    </div>
    <div style="float: right; width: 50%;">
        <img src="../../static/img/gift%20card.png" alt="Your Image" style="width: 100%;">
    </div>
    <div style="clear: both;"></div>
    <div>
        <label for="amount">Select Amount:</label>
        <select id="amount">
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="100">$100</option>
            <!-- Add more options as needed -->
        </select>
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
    </div>
    <button type="button">Add To Bag</button>


</main>
{% endblock %}

{% block script %}
<script src="../../static/js/Lookbook_script.js"></script>
{% endblock %}
