{% extends 'base.html' %}
{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
    nav,main,footer {
        font-family: 'Courier Prime';
        color:black;
    }
</style>
{% endblock%}
{% block main %}

<main>
    <div>
    <h1>Accessibility</h1>
        <h2>SITE ACCESSIBILITY:</h2>
        <div id="lb">
    <h>We’re committed to making the content of this site accessible to the widest</h><br>
    <h>possible audience. We strive to conform to the W3C Web Content Accessibility</h><br>
    <h>Guidelines and to comply with Level AA of the Web Content Accessibility </h><br>
    <h>Guidelines, Version 2.1.</h><br><br><br><br>
    <h>Feedback and suggestions are welcomed by emailing us at mail@gitman.com.</h><br>
        </div>
    </div>

</main>
{% endblock %}

{% block script %}
<script src="../static/js/Lookbook_script.js"></script>
{% endblock %}
