<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../views/static/css/base.css">
    <link rel="stylesheet" href="https://cdn.shopify.com/app/services/2167184/assets/132775182509/checkout_stylesheet/v2-ltr-2021-01-25-debeff026b4fd23a81af8235c4555422-17566">
    <title>주문1</title>
    <style>
        img { width: 100px; height: 50px; }
        .img {max-width: 100%; height: auto; border-bottom: 1px solid black;text-align: center; padding-top: 30px;
            padding-bottom: 20px}
        .button{text-align: center; margin: 5px;border: 1px solid black;padding: 20px}
        #button{width: max-content; color: #1990c6}
        ul li {font-size: 12px}
        #ul {}
        #paybutton { border-radius: 5px}

        .total-line-table__tbody .total-line:last-child {
            border-bottom: none;
        }


    </style>
</head>
<body>

<header>
    <div class="img"><a href="/index">
        <img alt="Gitman Vintage" src="//cdn.shopify.com/s/files/1/0216/7184/files/checkout_logo_27.png?17566" >
    </a></div>





</header>

<main>
    <div class="wrap">
        <div class="main">
            <div class="main__header">

                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb--center" role="list">
                        <li class="breadcrumb__item breadcrumb__item--completed">
                            <a class="breadcrumb__link" href="cart">Cart</a>
                            <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
                        </li>

                        <li class="breadcrumb__item breadcrumb__item--current" aria-current="step">
                            <span class="breadcrumb__text">Information</span>
                            <svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" aria-hidden="true" focusable="false"> <use xlink:href="#chevron-right"></use> </svg>
                        </li>

                        <li class="breadcrumb__item breadcrumb__item--blank">
                            <a class="breadcrumb__link" href="#">Payment</a>
                        </li>
                    </ol>
                </nav>

                <div class="shown-if-js" data-alternative-payments="">
                    <div class="dynamic-checkout">
                        <h2 class="dynamic-checkout__title">
                            Express checkout
                        </h2>

                    </div>
                    
                    <div>
                        <form style="text-align: center">
                            <div id="paybutton">
                                <div class="mt-3 ">
                                    <button type="button" class="col-3">
                                        <img src="{{ url_for('static',path='/img/kakaopay.jpg')}}" alt="kakaopay"></button>

                                    <button type="button" class="col-3">
                                    <img src="{{ url_for('static',path='/img/naver_pay.png')}}" alt="naverpay"></button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="alternative-payment-separator" data-alternative-payment-separator="">
                          <span class="alternative-payment-separator__content">
                            OR
                          </span>
                    </div>
                </div>

                <fieldset>
                    <label class="row col-auto mt-5">
                        <div class="row col-auto" >
                            <h2>Contact</h2>
                        </div>

                        <div class="row col-6 ms-5 justify-content-end">Have an account? </div>
                        <div class="row col-auto justify-content-end" style="text-align: right"><a href="index.html">Log in </a></div>

                    </label>

                    <p class="mt-4">
                        <label for="email" ><h3>Email</h3></label>
                        <input type="email" id="email" class="form-control mt-2" placeholder="Email">
                    </p>

                    <p>
                        <label>
                            <input type="checkbox" value="">
                            Email me with news and offers
                        </label>
                    </p>
                    <p>
                        <h2 class="mt-5">Shiping address</h2>
                    </p>

                    <p class="mt-3">
                        <label for="company" ><h3>Company(optional)</h3></label>
                        <input type="text" id="company" class="form-control mt-2" placeholder="Company(optional">
                    </p>
                    <p class="mt-2">
                        <label for="lname" ><h3>Last name</h3></label>
                        <input type="text" id="lname" class="form-control mt-2" placeholder="Last name">
                    </p>
                    <p class="mt-2">
                        <label for="fname" ><h3>Fisrt name</h3></label>
                        <input type="text" id="fname" class="form-control mt-2" placeholder="Fisrt nameil">
                    </p>
                    <p class="mt-2">
                        <label for="postal" ><h3>Postal code</h3></label>
                        <input type="text" id="postal" class="form-control mt-2" placeholder="Postal code">
                    </p>

                    <p class="mt-2">
                        <label for="address" ><h3>Address</h3></label>
                        <input type="text" id="address" class="form-control mt-2" placeholder="Address">
                    </p>
                    <p class="mt-2">
                        <label for="phone" ><h3>Phone</h3></label>
                        <input type="tel" id="phone" class="form-control mt-2" placeholder="Phone">
                    </p>


                </fieldset>

                <div class="step__footer" data-step-footer=""><a href="payment">
                    <button name="button" type="submit" id="payment_button" class="step__footer__continue-btn btn">Payment Complete</button></a>
                    <a class="step__footer__previous-link" href="index">
                        <svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                            <path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path>
                        </svg><span class="step__footer__previous-link-content">Return to cart</span></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="sidebar">
            <div>
                <fieldset>
                    <label>
                        <h2>Order summary</h2>
                    </label>
                    <div class="container">
                        <!-- Shopping Cart Table -->
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <caption class="visually-hidden">Shopping cart</caption>
                                        <thead>
                                        <tr>
                                            <th scope="col" class="visually-hidden">Product image</th>
                                            <th scope="col" class="visually-hidden">Description</th>
                                            <th scope="col" class="visually-hidden">Quantity</th>
                                            <th scope="col" class="visually-hidden">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><img src="image-url.jpg" class="img-fluid"></td>
                                            <td>
                                                <p>Ecru Reverse-Denim Western</p>
                                                <p>S</p>
                                            </td>
                                            <td>1</td>
                                            <td>$142.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Total Line Table -->
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table total-line-table">
                                        <caption class="visually-hidden">Cost summary</caption>
                                        <thead>
                                        <tr>
                                            <th scope="col" class="visually-hidden">Description</th>
                                            <th scope="col" class="visually-hidden">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody class="total-line-table__tbody">
                                        <tr class="total-line total-line--subtotal">
                                            <th class="total-line__name" scope="row">Subtotal</th>
                                            <td class="total-line__price">$142.00</td>
                                        </tr>
                                        <tr class="total-line total-line--shipping">
                                            <th class="total-line__name" scope="row">Shipping</th>
                                            <td class="total-line__price">$30.00</td>
                                        </tr>
                                        <tr class="total-line total-line--taxes hidden" data-checkout-taxes="">
                                            <th class="total-line__name" scope="row">Estimated taxes</th>
                                            <td class="total-line__price">$0.00</td>
                                        </tr>
                                        </tbody>
                                        <tfoot class="total-line-table__footer">
                                        <tr class="total-line">
                                            <th class="total-line__name payment-due-label" scope="row">
                                                <span class="payment-due-label__total">Total</span>
                                            </th>
                                            <td class="total-line__price payment-due">
                                                <span class="payment-due__currency">USD</span>
                                                <span class="payment-due__price">$172.00</span>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

















                    {#                    <div id="partial-icon-symbols" class="icon-symbols" data-tg-refresh="partial-icon-symbols" data-tg-refresh-always="true"><svg xmlns="http://www.w3.org/2000/svg"><symbol id="info"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 11h1v7h-2v-5c-.552 0-1-.448-1-1s.448-1 1-1h1zm0 13C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm0-2c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zM10.5 7.5c0-.828.666-1.5 1.5-1.5.828 0 1.5.666 1.5 1.5 0 .828-.666 1.5-1.5 1.5-.828 0-1.5-.666-1.5-1.5z"></path></svg></symbol>#}
{#                    <symbol id="caret-down"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M0 3h10L5 8" fill-rule="nonzero"></path></svg></symbol>#}
{#                    <symbol id="question"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm.7 13H6.8v-2h1.9v2zm2.6-7.1c0 1.8-1.3 2.6-2.8 2.8l-.1 1.1H7.3L7 7.5l.1-.1c1.8-.1 2.6-.6 2.6-1.6 0-.8-.6-1.3-1.6-1.3-.9 0-1.6.4-2.3 1.1L4.7 4.5c.8-.9 1.9-1.6 3.4-1.6 1.9.1 3.2 1.2 3.2 3z"></path></svg></symbol>#}
{#                    <symbol id="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M15.1 2.3L13.7.9 8 6.6 2.3.9.9 2.3 6.6 8 .9 13.7l1.4 1.4L8 9.4l5.7 5.7 1.4-1.4L9.4 8"></path></svg></symbol>#}
{#                    <symbol id="spinner-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 10c0 5.523-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0v2c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8h2z"></path></svg></symbol>#}
{#                    <symbol id="chevron-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"></path></svg></symbol>#}
{#                    <symbol id="down-arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M10.817 7.624l-4.375 4.2c-.245.235-.64.235-.884 0l-4.375-4.2c-.244-.234-.244-.614 0-.848.245-.235.64-.235.884 0L5.375 9.95V.6c0-.332.28-.6.625-.6s.625.268.625.6v9.35l3.308-3.174c.122-.117.282-.176.442-.176.16 0 .32.06.442.176.244.234.244.614 0 .848"></path></svg></symbol>#}
{#                    <symbol id="arrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M16 8.1l-8.1 8.1-1.1-1.1L13 8.9H0V7.3h13L6.8 1.1 7.9 0 16 8.1z"></path></svg></symbol>#}
{#                    <symbol id="mobile-phone"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 2.99C5 1.34 6.342 0 8.003 0h7.994C17.655 0 19 1.342 19 2.99v18.02c0 1.65-1.342 2.99-3.003 2.99H8.003C6.345 24 5 22.658 5 21.01V2.99zM7 5c0-.552.456-1 .995-1h8.01c.55 0 .995.445.995 1v14c0 .552-.456 1-.995 1h-8.01C7.445 20 7 19.555 7 19V5zm5 18c.552 0 1-.448 1-1s-.448-1-1-1-1 .448-1 1 .448 1 1 1z" fill-rule="evenodd"></path></svg></symbol>#}
{#                    <symbol id="spinner-small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z"></path></svg></symbol></svg>#}
{#                </div>#}
                </fieldset>
            </div>

        </div>


    </div>


</main>
<footer></footer>



</body>
</html>



