{% extends 'base.html' %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }
        /* 링크 색상을 검정색으로 지정 */
        a {
            color: black;
            text-decoration: none;

        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="row justify-content-center">
            {% for pd in pdlist %}
                <div class="col-10 card m-1" style="width: 18rem">
                    <a href="/itemview/{{ pd.prdno }}"><img src="http://localhost/cdn/{{ pd.img1 }}" class="card-img-top" alt="..."></a>

                    <div class="card-body">
                        <a href="/itemview/{{ pd.prdno }}">
                            <h5 class="card-title">{{ pd.prdname }}</h5>
                        </a>
                        <div><span><a href="/itemview/{{ pd.prdno }}">{{ pd.price }}</a></span></div>
                    </div>
                </div>
            {% endfor%}
        </div>

    </main>
{% endblock %}
