{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav, main, footer {
            font-family: 'Courier Prime', monospace;
            color: black;}

        button {background: #16400B; border: darkgreen;
            transition: 0.3s ease; border-radius: 5px; width: 120px; height: 60px;
        font-size: x-large}
        #submitbtn{background: #16400B; border: darkgreen;
            transition: 0.3s ease; border-radius: 5px;}
        #cartbtn:hover{background: #1d560f}

    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="container--m">
            <h1 class="h1 m-5 align-c">Complete!!</h1>

            <h3 class="m-3">Thank you for purchasing our product.</h3>
            <h>If you want to view purchased items</h>

            <div class="p-3">

                <a href="/orderhistory" >
                    <button type="button" id="cartbtn" class="text text-white">Cart</button>
                </a>

            </div>


        </div>



        <fieldset name = "foot" style="height: 300px; padding-top: 100px; margin-top: 150px;">
            <h3>STAY UP TO DATE</h3>
            <h>Sign up for our newsletter to be the first to</h><br>
            <h>know about new products, exclusive releases</h><br>
            <h>and promotions.</h>

            <div style="margin: 10px;">
                <div id="submit1">
                    <input id="Email-Address" class="inline-block" placeholder="Email Address">
                    <input type="submit" value="Submit" class="button text text-white" id="submitbtn">
                </div>
            </div>

        </fieldset>
    </main>


{% endblock %}