{% extends 'base.html' %}

{% block style %}
<style>
    /* 회원가입폼에 대한 스타일 */
    form { width: 365px; margin: 100px auto; }
    form div { margin-bottom: 5px; }
    form label { font-weight: bold; width: 110px; text-align: right; }
    form button:first-child { margin-left: 135px }

    main div {
        margin-bottom: 10px;
    }

    main {
        margin-right: -80px;
    }
</style>
{% endblock %}

{% block main %}
<main>
    <div class="row">
        <div class="col-12">
            <h2>회원가입 완료</h2>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success" id="loginbtn">
            <i class="bi bi-check-all"></i> 로그인</button>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    let loginbtn = document.querySelector('#loginbtn');

    loginbtn.addEventListener('click', ()=>{
        location.href = '/member/login'
    })
</script>
{% endblock %}