{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }
        td a {
            color: black; /* Set the color to black */
            text-decoration: none; /* Remove underline */
        }
    </style>
{% endblock%}

{% block main %}
<main>
    <div class="container mt-5">
        <h2 class="mb-4"></h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                <select class="form-select" name="ftype" id="ftype">
                    <option value="title">Title</option>
                    <option value="contents">Contents</option>
                    <option value="titconts">Contents + Title</option>
                    <option value="userid">User ID</option>
                    <option value="comments">Comments</option>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <div class="input-group">
                    <input type="text" name="fkey" id="fkey" class="form-control" placeholder="검색어를 입력하세요">
                    <button class="btn btn-success" type="button" id="findbtn">Search</button>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <a href="/write" class="btn btn-dark text-white">Write</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered w-100 mt-3">
                <colgroup> <!-- table-fixed 속성이 설정된 경우, 각 컬럼에 대한 스타일 지정 -->
                    <col style="width: 10%">
                    <col style="">
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                </colgroup>

                <tr>
                    <th>number</th>
                    <th>title</th>
                    <th>Writer</th>
                    <th>Date</th>
                    <th>views</th>
                </tr>
                {% for bd in bdlist %}
                <tr>
                    <td>{{ bd.bno }}</td>
                    <td>
                        <a href="/view/{{bd.bno}}">{{bd.title}}</a>
                    </td>
                    <td>{{bd.userid}}</td>
                    <td>{{bd.regdate.strftime('%Y-%m-%d')}}</td>
                    <td>{{bd.views}}</td>
                </tr>

                {% endfor %}

            </table>
        </div>
        <ul class="pagination justify-content-center mt-4">
            <!--    현재 페이지가 1이면 이전버튼 비활성-->
            {% if cpg ==1 %}
                <li class="page-item disabled">
                    {%else%}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ baseurl }}{{ cpg - 1 }}">이전</a></li>
            {% for idx in range(stpg, stpg + 10) %}
                <!--        idx 가 allpage보다 같거나 작으면 페이지네이션 출력 -->
                {% if idx <= allpage %}
                    {% if cpg == idx %}<li class="page-item active">
                        {% else %} <li class="page-item"> {% endif %}
                <a class="page-link" href="{{ baseurl }}{{ idx }}">{{ idx }}</a></li>

                {%endif%}
            {% endfor %}

            <!--    현재 페이지가 마지막 페이지면 이전버튼 비활성-->
            {% if cpg == allpage %}<li class="page-item disabled">
            {%else%}<li class="page-item">{% endif %}
            <a class="page-link" href="{{ baseurl }}{{ cpg + 1}}">다음</a></li>
        </ul></div>
</main>


{% endblock %}

{% block script %}
<script src="../../static/js/index_script.js"></script>

<script>
        let findbtn = document.querySelector('#findbtn');
        findbtn.addEventListener('click', () => {
            let ftype = document.querySelector('#ftype').value;
            let fkey = document.querySelector('#fkey').value;

            let params = `/${ftype}/${fkey}/1`;
            let findurl = 'http://127.0.0.1:8000/list' + params;

            location.href = findurl;
        });
</script>
<script>
    // url 상태에 따라 검색 UI에 내용을 채움
    let findurl = location.pathname.split('/');
    // console.log(findurl[3],findurl[4]);
    if (findurl[4] !== undefined) {             //검색어가 입력됐다면
        // 검색어를 검색 UI에 자동삽입
        document.querySelector('#fkey').value = decodeURI(findurl[3]);
        document.querySelector('#fkey').className = 'form-control  text-black'
        document.querySelector('#ftype').className = 'form-control  text-black'


        // 검색 유형을 select 태그에 반영 : selectedIndex 이용
        let ftype = document.querySelector('#ftype')
        switch (findurl[3]){
            case 'title': ftype.selectedIndex = 0; break;
            case 'contents': ftype.selectedIndex = 1; break;
            case 'userid': ftype.selectedIndex = 2; break;
            case 'titconts': ftype.selectedIndex = 3; break;
            case 'comments': ftype.selectedIndex = 4; break;

        }
    }
</script>

{% endblock %}
