{% extends 'base.html' %}

{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }
        main > div:first-child {margin-top: 120px; margin-bottom: 40px}

        {#footer와 main겹침 현상 방지를 위한 div편성#}
        #lastblock {height : 100px}


        #pdbtn, #userbtn { width : 300px; height: 50px; background: white; border-radius: 15px;}
        button > a { font-size: 20px; text-decoration: none; color : black}
    </style>
{% endblock %}

{% block main %}
    <main>
        <div>
            <button type="button" id="pdbtn"><a href="mgproduct/1">Managing Product</a></button>
        </div>
        <div>
            <button type="button" id="userbtn"><a href="mguser/1">Managing User</a></button>
        </div>
        <div id="lastblock">
        </div>
    </main>
{% endblock %}
