<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Gitman Vintage-관리자</title>
</head>
<body>
    <div>
        <form id="adminfrm">
            <div>
                <button type="button" id="pdbtn"><a href="mgproduct.html">상품 관리</a></button>
            </div>
            <div>
                <button type="button" id="userbtn"><a href="mguser.html">사용자 관리</a></button>
            </div>
            <div>
                <button type="button" id="VOCbtn"><a href="mgVOC.html">고객문의 관리</a></button>
            </div>
        </form>
    </div>
</body>
</html>