{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }

        h2 > a {text-decoration: none; color : black}

        {#base.html에 적용한 스타일 제거#}
        main div {margin-bottom: 0}
        table th {background-color: white;}

        table {table-layout: fixed; border-top-color: white; overflow-wrap: break-word}
        th, td {text-align: center; vertical-align: middle; font-weight: normal}

        {#searchbox 양식#}
        tr:first-child td {border : none; padding: 20px 0;}
        tr:first-child td:last-child {text-align: right}
        #search {width : 200px}

        {#searchbox2 안의 폼요소#}
        .searchbox2 > div > div {padding-right: 0;}

        {# 제출버튼 #}
        #buttonbar {text-align: right; padding: 10px 0; margin-top: 10px}
        #buttonbar button {margin: 0}

        {#테이블 내 form요소 사이즈#}
        .stackinfrm {width:80%; height : 30px; margin : 5px 0; text-align: center}
        .price {width:80%; height : 30px; margin : 5px 0; text-align: center}
        .salepoint {width:60%; height : 30px; margin : 5px 0; text-align: center}

        /* 페이지네이션 스타일*/
        .pagination a:link {color : darkslategray}

        td img {height: 100px; width: 100px; margin: 0}
        .nameform {width : 60%}
        .name {padding: 0; text-align: center}
        .name > input {margin-left: 5px}

        {#footer와 main겹침 현상 방지를 위한 div편성#}
        #lastblock {height : 60px}
    </style>
{% endblock %}

{% block main %}
    <main>
        <h2><a href="/admin/mgproduct/1">Managing Product</a></h2>
        <form name="dataForm">
            <table class="table-bordered container mt-5" style="width: 85%">
                <colgroup>
                    <col style="width:5%">
                    <col style="width:6%">
                    <col style="width:34%">
                    <col style="width:9%">
                    <col style="width:7%">
                    <col style="width:8%">
                    <col style="width:7%">
                    <col style="width:8%">
                    <col style="width:9%">
                    <col style="width:7%">
                </colgroup>
                <tr>
                    <td colspan="4" class="searchbox2">
                        <div class="row">
                            <div class="col-auto">
                                <select class="form-select" name="category" id="category" >
                                    <option>Category</option>
                                    <option value="oxfords">oxfords</option>
                                    <option value="knitwear">knitwear</option>
                                    <option value="checkered">checkered</option>
                                    <option value="carryover">carryover</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <input type="text" name="search" id="search" class="form-control" placeholder="product name">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-success" id="searchbtn"> search </button>
                            </div>
                        </div>
                    </td>
                    <td colspan="6">
                        <a href="/admin/rgproduct" class="btn btn-dark text-white">Register</a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th>code</th>
                    <th>name</th>
                    <th>category</th>
                    <th>stack</th>
                    <th>fix stack</th>
                    <th>price</th>
                    <th>fix price</th>
                    <th>salepoint</th>
                    <th>price</th>
                </tr>
                {% for pd in pdlist %}
                <tr>
                    <td><input type="checkbox" class="rowCheckbox"></td>
                    <td>{{ pd.prdno }}</td>
                    <td class="name">
                        <img src="http://localhost/cdn/{{ pd.img1 }}" alt="">
                        <input type="text" class="nameform" value="{{ pd.prdname }}">
                    </td>
                    <td>{{ pd.category }}</td>
                    <td>{{ pd.stack }}</td>
                    <td><input type="text" class="stackinfrm" value="{{ pd.stack }}"></td>
                    <td>{{ pd.price }}</td>
                    <td><input type="text" class="price numinfrm" id="price" value="{{ pd.price }}"></td>
                    <td><input type="text" class="salepoint numinfrm" id="salepoint" value="{{ pd.salepoint }}"></td>
                    <td>{{ (pd.price * (1 - pd.salepoint)) | int }} </td>
                </tr>
                {% endfor %}
            </table>

            <div class="container" id="buttonbar" style="width: 85%">
                <button type="button" class="btn btn-primary" id="updatebtn">Modify Product</button>
                <button type="button" class="btn btn-danger" id="deletebtn">Delete Product</button>
            </div>
        </form>

        <ul class="pagination justify-content-center mt-4">
            {% if cpg == 1 %}
                <li class="page-item disabled">
                    {% else %}
                <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ baseurl }}{{ cpg - 1 }}">back</a></li>

            {% for idx in range(stpg, stpg + 10) %}
                <!-- idx가  allpage보다 같거나 작으면 페이지네이션 출력 -->
                {% if idx <= allpage %}
                    {% if cpg == idx %} <!-- 현재 페이지가 마지막 페이지라면 이전 버튼 비활성 -->
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link" href="{{ baseurl }}{{ idx }}">{{ idx }}</a></li>
                {% endif %}
            {% endfor %}

            {% if cpg == allpage %} <!-- 현재 페이지가 마지막 페이지라면 이전 버튼 비활성 -->
            <li class="page-item disabled">
                {% else %}
            <li class="page-item">
            {% endif %}
            <a class="page-link" href="{{ baseurl }}{{ cpg + 1 }}">next</a></li>
        </ul>
        <div id="lastblock">
        </div>
    </main>
{% endblock %}

{% block script %}
<script>
    let searchbtn = document.querySelector('#searchbtn');
    searchbtn.addEventListener('click', () => {
        let category = document.querySelector('#category').value;
        let search = document.querySelector('#search').value;

        let params = `/${category}/${search}/1`
        let findurl = 'http://127.0.0.1:8000/admin/mgproduct'+params;

        location.href = findurl;
    })

    search = document.querySelector('#search');
    search.addEventListener('keyup', (event) => {
        if (event.key === "Enter") {
            searchbtn.click();
        }
    });
</script>

<script>
    let findurl = location.pathname.split('/');

    if (findurl[4] !== undefined) {
        // 검색어를 검색 UI에 자동삽입
        document.querySelector('#search').value = decodeURI(findurl[4]);

        // 검색유형을 select 태그에 반영 : selectedIndex이용
        let category = document.querySelector('#category');
        switch (findurl[3]) {
            case 'oxford' : category.selectedIndex = 1; break;
            case 'knitwear' : category.selectedIndex = 2; break;
            case 'check' : category.selectedIndex = 3; break;
            case 'carryover' : category.selectedIndex = 4; break;
        }
    }
</script>

<script>
let checkboxes = document.querySelectorAll('.rowCheckbox');
let updatebtn = document.querySelector('#updatebtn');
let numinfrms = document.querySelectorAll('.numinfrm');

{#blur가 발생하면 단가와 할인비율이 실시간으로 반영되어 가격을 나타내는 기능 #}
numinfrms.forEach((input) => {
    input.addEventListener('blur', () => {
        let row = input.closest('tr');
        let price = row.querySelector('#price').value;
        let salepoint = row.querySelector('#salepoint').value;
        row.cells[9].innerText = price * (1 - salepoint);
    })
})

{#체크박스된 행 데이터 보내기#}
updatebtn.addEventListener('click', ()=> {
    let jsondata = {};

    let getRowData = (row) => {
        return {
            prdno : row.cells[1].innerText,
            prdname : row.cells[2].querySelector('input').value,
            stack : row.cells[5].querySelector('input').value,
            price : row.cells[7].querySelector('input').value,
            salepoint : row.cells[8].querySelector('input').value}
    };

    checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
            let rowData = getRowData(checkbox.closest('tr'));
            jsondata[rowData.prdno] = rowData;
        }
    });

    fetch('http://127.0.0.1:8000/admin/mgproduct1', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsondata),
        redirect: 'follow'
    })
        .then((res) => {
            if (res.redirected) location.href = res.url
        })
        .catch((err) => console.log(err));
})
</script>

<script>
let deletebtn = document.querySelector('#deletebtn');

deletebtn.addEventListener('click', ()=> {
    let jsondata = {};
    let listdata = [];

    let getPrdNo = (row) => {
        return row.cells[1].innerText
    };

    checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
            let prdno = getPrdNo(checkbox.closest('tr'));
            listdata.push(prdno);
        }
    });
    jsondata['prdno'] = listdata;

    fetch('http://127.0.0.1:8000/admin/mgproduct2', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsondata),
        redirect: 'follow'
    })
        .then((res) => {
            if (res.redirected) location.href = res.url
        })
        .catch((err) => console.log(err));
})

</script>
{% endblock %}


