{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }
        table {table-layout: fixed; border-top-color: white}
        th, td {text-align: center}
        tr:first-child td:last-child {text-align: right}

        /* 사용자 검색바 */
        #searchbar {box-sizing: border-box; border:1px solid white;}
        #searchbar:hover {border:1px solid darkgray; box-sizing: border-box}
        #searchbar:focus {border:1px solid darkgray; box-sizing: border-box}

        #search {border: none; margin: 5px; height: 35px; width:70%; outline:none}

        #execSearch {border: none; border-radius: 15px;}
        #execSearch:hover {background: darkgrey;}

        /* 테이블 */
        #tb {width : 80%}

    </style>
{% endblock %}

{% block main %}
    <main>
        <h2>사용자관리</h2>
        <table class="table container mt-5" id="tb">
            <colgroup>
                <col style="width:5%">
                <col style="width:8%">
                <col style="width:10%">
                <col style="width:7%">
                <col style="width:18%">
                <col style="width:12%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:7%">
                <col style="width:10%">
            </colgroup>
            <tr>
                <td colspan="4" class="searchbox">
                    <div class="row">
                        <div class="col-auto" id="searchbar">
                            <input type="text" name="search" id="search" placeholder="검색">
                            <button type="button" id="execSearch"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </td>
                <td colspan="6">
                    <a href="#" class="btn btn-success text-white">사용자등록</a>
                    <a href="#" class="btn btn-primary text-white">사용자수정</a>
                    <a href="#" class="btn btn-danger text-white">사용자삭제</a>
                </td>
            </tr>
            <tr>
                <th>선택</th>
                <th>회원번호</th>
                <th>닉네임</th>
                <th>이름</th>
                <th>이메일</th>
                <th>주소</th>
                <th>생년월일</th>
                <th>전화번호</th>
                <th>적립금</th>
                <th>회원가입일</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>bamyam</td>
                <td>서승재</td>
                <td>bamyam@naver.com</td>
                <td>서울시 관악구</td>
                <td>1998-07-06</td>
                <td>010-2176-8424</td>
                <td>3000원</td>
                <td>2024-02-07 14:27:03</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>2</td>
                <td>bamyam</td>
                <td>두루미</td>
                <td>bamyam@naver.com</td>
                <td>서울시 관악구</td>
                <td>1998-07-06</td>
                <td>010-2176-8424</td>
                <td>3000원</td>
                <td>2024-02-07 14:27:03</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>3</td>
                <td>bamyam</td>
                <td>여우</td>
                <td>bamyam@naver.com</td>
                <td>서울시 관악구</td>
                <td>1998-07-06</td>
                <td>010-2176-8424</td>
                <td>3000원</td>
                <td>2024-02-07 14:27:03</td>
            </tr>
        </table>
    </main>
{% endblock %}

{% block script %}