{% extends 'base.html' %}
{% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
        nav,main,footer {
            font-family: 'Courier Prime';
            color:black;
        }

        main div {margin-bottom: 0}
        main {text-align: left}

        form > div {width : 500px; margin-bottom: 20px}
        h2 {margin-bottom: 25px}

        input {padding : 5px; width: 240px; margin-top: 5px; }
        select {padding : 7px; width : 200px; margin-top: 5px}
        textarea {margin-top: 5px;}

        #firstline {float : left; width : 700px; margin-bottom: 15px;}
        #firstline > div {display: inline-block}
        #firstline > div:first-child {margin-right: 20px}
        form > div > div > * {display: block;}


        #secondline {float : left; width : 700px; margin-bottom: 15px;}
        #secondline > div {display: inline-block}
        #secondline > div:first-child {margin-right: 20px}


        /* attached */
        #attached >  div {
            display: flex; /* Flexbox 사용 */
            align-items: center; /* 세로 방향 가운데 정렬 */

        }



        #attached > div > div:first-child {
            margin-right: 20px; /* 왼쪽과의 간격 조절 */
        }

        #attached > div > div:last-child {
            height:120px; width:100px;
        }

        #previous > a {text-decoration: none; color : white}
        #previous > a:hover {text-decoration: none}



        /* float 성질 제거 */
        .clearfix { content : ""; display: block;
            clear: both; }

        {#footer와 main겹침 현상 방지를 위한 div편성#}
        #lastblock {height : 100px}
    </style>
{% endblock %}

{% block main %}
    <main>
        <h2>Register Product</h2>
        <form name="productfrm">
            <div id="firstline">
                <div>
                    <label for="prdname">Product Name</label>
                    <input type="text" name="prdname" id="prdname" placeholder="상품 이름을 입력하세요">
                </div>
                <div>
                    <label for="stack">Product Stack</label>
                    <input type="text" name="stack" id="stack" placeholder="상품 수량을 입력하세요">
                </div>
            </div>
            <div id="secondline" class="clearfix">
                <div>
                    <label for="price">Product Price</label>
                    <input type="text" name="price" id="price" placeholder="상품 원가를 입력하세요">
                </div>
                <div>
                    <label for="category">Product Category</label>
                    <select name="category" id="category">
                        <option value="oxfords">oxfords</option>
                        <option value="knitwear">knitwear</option>
                        <option value="checkered">checkered</option>
                        <option value="carryover">carryover</option>
                    </select>
                </div>
            </div>
            <div class="clearfix">
                <div>
                    <label for="contents">Product Contents</label>
                    <textarea id="contents" name="contents" class="form-control" style="height:150px; width:500px"></textarea>
                </div>
            </div>
            <div id="attached">
                <div>
                    <div>
                        <div>
                            <label for="image1">Attached File1</label>
                        </div>
                        <input type="file" id="image1" class="image">
                    </div>
                    <div>
                        <img id="preview1" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 120px ">
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label for="image2">Attached File2</label>
                        </div>
                        <input type="file" id="image2"  class="image">
                    </div>
                    <div>
                        <img id="preview2" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 120px ">
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label for="image3">Attached File3</label>
                        </div>
                        <input type="file" id="image3"  class="image">
                    </div>
                    <div>
                        <img id="preview3" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 120px ">
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label for="image4">Attached File4</label>
                        </div>
                        <input type="file" id="image4"  class="image">
                    </div>
                    <div>
                        <img id="preview4" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 120px ">
                    </div>
                </div>
            </div>
            <div style="text-align: right">
                <button type="button" class="btn btn-secondary" id="previous">
                    <a href="/admin/mgproduct/1" style="text-decoration: none;" >Previous</a>
                </button>
                <button type="button" id="registerbtn" class="btn btn-success">Register</button>
            </div>
        </form>
        <div id="lastblock">

        </div>
    </main>
{% endblock %}

{% block script %}
    <script>
        let image = document.querySelectorAll('.image');

        image.forEach((input) => {
            input.addEventListener('change', () => {
                let index = input.id.substring(input.id.length - 1, input.id.length);
                if (input.files && input.files[0]) {
                    let reader = new FileReader();

                    reader.onload = (e) => {
                        document.getElementById('preview' + index).src = e.target.result;
                        document.getElementById('preview' + index).style.display = 'block';
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        )})


    </script>
    <script>
        let registerbtn = document.querySelector('#registerbtn');
        let productfrm = document.productfrm;
        let prdname = document.querySelector('#prdname');


        registerbtn.addEventListener('click', () =>{
            const formData1 = new FormData(productfrm);
            formData2 = new FormData();

            let jsondata = {};
            formData1.forEach((val, key) => {
                if (!(val instanceof File)){
                    jsondata[key] = val;
                }
            });

            for (let i = 1; i < 5; i++) {
                let fileInput = document.getElementById('image' + i);
                let file = fileInput.files[0];
                let extenstion = file.name.split('.').pop();
                let newFileName = prdname.value + i +'.' + extenstion

                jsondata['img' + i] = newFileName;
                formData2.append('images', file, newFileName);
            }



            fetch('http://127.0.0.1:8000/admin/rgproduct', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsondata),
                redirect: 'follow'
            })
                .then((res) => {
                    if (res.redirected) location.href = res.url
                })
                .catch((err) => console.log(err));


            fetch('http://127.0.0.1:8000/admin/upload', {
                method: 'POST',
                body: formData2
            })
                .then((res) => res.json())
                .then((data) => console.log(data))
                .catch((err) => console.log(err));



        })
    </script>
{% endblock %}
