<style>
    #footer1{
        margin-bottom: -18px;
        margin-left: 10px;
        margin-right:-10px;
    }
</style>
<footer>
    <div id="footer1">
        <p>© Gitman Vintage 2016. Site by Barrel</p>
    </div>
    <ul id="footerLinks">
        <li><a href="../accessibility">Accessibility</a></li>
        <li><a href="../giftcards">Gift Cards</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
    <div id="socialMedia">
        <a href="https://www.instagram.com/"><i class="bi bi-instagram">Instagram</i></a>
        <a href="https://www.facebook.com/?locale=ko_KR"><i class="bi bi-facebook">Facebook</i></a>
        <a href="https://twitter.com/?lang=ko"><i class="bi bi-twitter">Twitter</i></a>
    </div>
</footer>

<script src="views/static/js/Lookbook_script.js"></script>
