<style>
    .center{
        margin-right: 20px;
    }
</style>
<header></header>
<nav>
    <div class="left">
        <ul>
            <li id="shop">
                <a href="/index">Shop ▼</a>
                <ul id="shopDropdown" class="dropdown">
                    <li><a href="/index">Winter Sale</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">FW23</a></li>
                    <li><a href="#">Web Exclusives</a></li>
                    <li><a href="#">Oxfords</a></li>
                    <li><a href="#">Knitwear</a></li>
                    <li><a href="#">Neckwear</a></li>
                    <li><a href="#">carryover</a></li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/lookbook">Lookbook</a></li>

        </ul>
    </div>
    <div class="center">
        <h1><a href="/index"><img src="{{ url_for('static', path='/img/logo.png')}}" alt="Logo"></a></h1>
    </div>
    <div class="right">
        <ul id="right1">
            {% if 'userid' in request.session %}
                <li class="col-2"><a href="/member/logout">Log Out</a></li>
                <li class="col-2"><a href="/member/myinfo">My Account</a></li>
            {% else %}
                <li class="col-2"><a href="/member/login">Sign In</a></li>
            {% endif %}
            <li><a href="/list/1">Q&A</a></li>
            <li><a href="/bag">Bag</a></li>
        </ul>
    </div>
</nav>
