
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
nav, main, footer {
    font-family: 'Courier Prime', monospace;
    color: black;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
form {
    width: 500px;
    height: 135px;
    margin: 100px auto;
}
form textarea {
    padding: 5px;
}

.cart {
    margin-top: 100px;
}
#price {
    margin-left: -50px;
}
#li1 {
    font-size: 200%;
}

#ul2 li:first-child{
    margin-left: -80px;
}

#ul2 li:nth-child(2){
    margin-left: -20px;
    margin-right: 70px;

}




#ul2 li:nth-child(4){
    margin-left: 60px;
    margin-right: -70px;
}

p {
    font-size: small;
    margin-top: 10px;
    display: inline-block;
}
h3 {
    font-size: 19px;
}
#radius:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: #1E5E14;
    transition: 0.3s ease;
}
#radius {
    background: #16400B;
    border: darkgreen;
    font-family: Courier, monospace;
    width: 150px;
    height: 50px;
    color: white;
    transition: 0.3s ease;
}
#radius1 :first-child {
    border-radius: 5px;
}
h {
    font-size: 13px;
}
#submitbtn {
    background: #16400B;
    border: darkgreen;
    font-family: Courier, monospace;
    color: white;
    display: inline-block;
}
#submitbtn:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: #1E5E14;
    transition: 0.3s ease;
}
#submit :first-child {
    border-radius: 5px;
}
.form-control:focus {
    background-color: #E4EAE3;
}
#Email-Address:focus {
    background-color: #E4EAE3;
}
#quanbox {
    border: 1px solid black; height: 38px; width: 100px
}

#boardfrm {
    margin-top: -20px;
}

#price1 {
    font-size: 500%;
}